*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{
    height: 100px;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        color: coral;
    }
}

main{
    height: calc(100vh - 100px);
    background-color: darkgray;
    .container{
        width: 80%;
        margin: auto;
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            li{
                height: 200px;
                flex-basis: 15%;
                background-color: crimson;
                color: white;
                margin: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 10px;
                h2{
                    text-align: center;
                }
                h3{
                    text-align: center;
                }
            }
        }
    }
}